{% extends 'base.html.twig' %}

{% block title %}
  user_index
{% endblock %}

{% block body %}
  <div>
    {{ include('components/navbar.html.twig') }}
  </div>

  <div class="default-container">
    <h3>{{ pagination.getTotalItemCount }} Total Users</h3>
    {% for user in pagination %}
      <div>
        <p>{{ user.id }}</p>
        <p>{{ user.username }}</p>
        <p>{{ user.email }}</p>
        {% if is_granted("USER_VIEW", user) %}
          <a href="{{ path('app_user_show', { email: user.email }) }}">More details</a>
        {% endif %}
      </div>
    {% endfor %}
    {{ knp_pagination_render(pagination) }}
  </div>
{% endblock %}
