{% extends 'base.html.twig' %}

{% block title %}
  user_index
{% endblock %}

{% block body %}
  <div>
    {{ include('components/navbar.html.twig') }}
  </div>

  <div class="default-container">
    <form action="{{ path('search_user') }}">
      <div class="flex">
        <input type="search" class="form-control form-control-dark" name="s" placeholder="Search" aria-label="Search" value="{{ app.request.query.get('s') | default('') }}">
        <button type="submit" class="btn btn-light">Search</button>
        <a href="{{ path('admin_user_index') }}" class="btn btn-dark">Reset</a></li>
      </div>
    </form>
    <div class=box>
      {% if app.request.query.get('s')  %}
        {% for user in search_user | default('') %}
        <div class="card">
          <p>{{ user.id }}</p>
          {% if is_granted("USER_VIEW", user) %}
            <a class="minor_link" href="{{ path('app_user_show', { email: user.email }) }}"><h3>{{ user.username }}</h3></a>
          {% else %}
            <h3>{{ user.username }}</h3>
          {% endif %}
          <p>{{ user.email }}</p>
          <p>{{ user.IsAdmin ?'Yes':'No'}}</p>

        </div>
        {% endfor %}
      {% endif %}

      {% if (search_user is not defined) %}
        <h3>{{ pagination.getTotalItemCount | default(0) }} Total User</h3>
        {% for user in pagination | default('') %}
          <div class="card">
            <p>{{ user.id }}</p>
            {% if is_granted("USER_VIEW", user) %}
              <a class="minor_link" href="{{ path('app_user_show', { email: user.email }) }}"><h3>{{ user.username }}</h3></a>
            {% else %}
              <h3>{{ user.username }}</h3>
            {% endif %}
            <p>{{ user.email }}</p>
          </div>
        {% endfor %}
        {{ knp_pagination_render(pagination) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
