{% extends 'base.html.twig' %}

{% block body %}
  <div>
    {{ include('components/navbar.html.twig') }}
  </div>

  <div class="default-container">
    <div class="card">
      {{ include('user/user.html.twig') }}

      <div class="col">
        <form action="{{ path('app_user_votes', { id: user.id }) }}" method="post">
          <div>
          <label class="default-label">Votes:</label>
          <span class="badge bg-secondary">{{ user.getVotes }}</span>
          </div>
          <button class="badge bg-success" name="votes" value="up">Vote up</button>
          <button class="badge bg-danger" name="votes" value="down">Vote down</button>
        </form>
      </div>
      <br>
      <div>
        <a href="{{ path('app_user_update', { email: user.email }) }}">
          <button type="button" class="btn btn-light">Update</button>
        </a>
        <a href="{{ path('app_user_delete', { email: user.email }) }}">
          <button type="button" class="btn btn-dark">Delete</button>
        </a>
      </div>
    </div>
    <div>
      <h2>{{ user.posts|length }} Post(s):</h2>
      <ul>
        {% for post in user.posts|reverse %}
          {{ include('post/post.html.twig') }}
        {% endfor %}
    </div>
  </div>
{% endblock %}
