{% extends 'base.html.twig' %}

{% block body %}
  <div>
    {{ include('components/navbar.html.twig') }}
  </div>

  <div class="default-container">
    <h2>Update User</h2>
    <p>You need to enter every data, it's a feature.
    {{ form_start(userForm) }}
      {{ form_row(userForm.email, {attr: { value : user.email } }) }}
      {{ form_row(userForm.username, {attr: { value : user.username } }) }}
      {{ form_widget(userForm) }}
    {{ form_end(userForm) }}
  </div>
{% endblock %}
