{% extends 'base.html.twig' %}

{% block body %}
  <div>
    {{ include('components/navbar.html.twig') }}
  </div>
  
  <div class="default-container">
    <form action="{{ path('search_question') }}">
      <div class="flex">
        <input type="search" class="form-control form-control-dark" name="q" placeholder="Search by content" aria-label="Search" value="{{ app.request.query.get('s') | default('') }}">
        <a href="{{ path('question_index') }}" class="btn btn-dark">Reset</a></li>
        <button type="submit" class="btn btn-light">Search</button>
      </div>
    </form>
    <div class="box">
      {% if app.request.query.get('q')  %}
        {% for question in search_question | default('') %}
          {{ include('question/question.html.twig') }}
        {% endfor %}
      {% endif %}

      {% if (search_question is not defined) %}
        <h3>{{ pagination.getTotalItemCount | default(0) }} Total Question(s)</h3>
        {% for question in pagination | default('') %}
          {{ include('question/question.html.twig') }}
        {% endfor %}
        {{ knp_pagination_render(pagination) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
