{% extends 'base.html.twig' %}

{% block title %}
  question_index
{% endblock %}

{% block body %}
  <div>
    {{ include('components/navbar.html.twig') }}
  </div>
  
  <div class="default-container">
    {% for question in questions %}
      <div class="card">
        <p>{{ question.id }}</p>
        <a class="minor_link" href="{{ path('app_post_show', { id: question.post.id }) }}"><h3>{{ question.post.title }}</h3></a>
        <h4>{{ question.title }}</h4>
        <p>{{ question.content }}</p>
        <p>{{ question.createdAt|ago }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
