{% block body %}
<div class="card">
  {# <label class="default-label">Id</label>
  <h4>{{ question.id }}</h4> #}
  <label class="default-label">Title</label>
  <h3>{{ question.title }}</h3>
  {# <label class="default-label">Post</label>
  <a class="minor_link" href="{{ path('app_post_show', { id: question.post.id }) }}"><p>{{ question.post.title }}</p></a> #}
  <label class="default-label">Autor</label>
  <p>{{ question.user.username }}</p>
  <label class="default-label">Content</label>
  <p>{{ question.content }}</p>
  <p>{{ question.createdAt|ago }}</p>
  {% if app.user.email == question.user.email %}
    <div>
      <a href="{{ path('app_question_update', {'id': question.id}) }}">
        <button type="button" class="btn btn-light">Update</button>
      </a>
      <a href="{{ path('app_question_delete', { id: question.id }) }}">
        <button type="button" class="btn btn-dark">Delete</button>
      </a>
    </div>
  {% endif %}
</div>
{% endblock %}
