{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/components/navbar.css') }}"
{% endblock %}

{% block body %}
<div>
  <div class="navbar">
    <ul>
      <li><a class="active" href="{{ path('index') }}">Home</a></li>
      <li><a href="{{ path('admin_user_index') }}">Users</a></li>
      <li><a href="{{ path('admin_post_index') }}">Posts</a></li>
      <li><a href="{{ path('admin_question_index') }}">Questions</a></li>
      
      <div>
        {% if is_granted('ROLE_USER') %}
          <li><h3>{{ app.user.username }}</h3></li>
          <li><a href="{{ path('app_logout') }}">Logout</a></li>
          <li><img class="avatar" src="{{ asset('images/user_profile.jpg') }}"/></li>
        {% else %}
          <li><a href="{{ path('login') }}">Login</a></li>
          <li><a href="{{ path('sign_in') }}">Sign-in</a></li>
        {% endif %}
      </div>
    </ul>
  <div>
</div>
{% endblock %}