{% extends 'base.html.twig' %}

{% block title %}
  post_index
{% endblock %}

{% block body %}
  <div>
    {{ include('components/navbar.html.twig') }}
  </div>

  <div class="default-container">
    {% for post in posts %}
      <div class="card">
        <p>{{ post.id }}</p>
        <a class="minor_link" href="{{ path('app_post_show', { id: post.id }) }}"><h3>{{ post.title }}</h3></a>
        <p>{{ post.slug }}</p>
        <p>{{ post.content }}</p>
        <p>{{ post.price }}</p>
        <p>{{ post.createdAt|ago }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
