{% extends 'base.html.twig' %}

{% block title %}
  post_index
{% endblock %}

{% block body %}
  <div>
    {{ include('components/navbar.html.twig') }}
  </div>

  <div class="default-container">
    {% for post in posts %}
      <a href="{{ path('app_post_show', { id: post.id }) }}">{{ post.title }}</a>
      <p>{{ post.slug }}</p>
      <p>{{ post.content }}</p>
      <p>{{ post.price }}</p>
      <p>{{ post.createdAt|ago }}</p>

      {# <a href="{{ path('app_user_show', { email: user.email }) }}">
          More details #}
      {# </a> #}
      <br>
      <br>
    {% endfor %}
  </div>
{% endblock %}
