{% extends 'base.html.twig' %}

{% block body %}
  <div>
    {{ include('components/navbar.html.twig') }}
  </div>

  <div class="default-container">
    <form action="{{ path('search_post') }}">
      <div class="flex">
        <input type="search" class="form-control form-control-dark" name="p" placeholder="Search by tags" aria-label="Search" value="{{ app.request.query.get('s') | default('') }}">
        <a href="{{ path('post_index') }}" class="btn btn-dark">Reset</a></li>
        <button type="submit" class="btn btn-light">Search</button>
      </div>
    </form>
    <div class="box">
      {% if app.request.query.get('p')  %}
        {% for post in search_post | default('') %}
          <div class="card">
            {{ include('post/post.html.twig') }}
          </div>
        {% endfor %}
      {% endif %}

      {% if (search_post is not defined) %}
        <h3>{{ pagination.getTotalItemCount | default(0) }} Total Post(s)</h3>
        {% for post in pagination | default('') %}
    {{ include('post/post.html.twig') }}
      {% endfor %}
      {{ knp_pagination_render(pagination) }}
    {% endif %}
    </div>
  </div>
{% endblock %}
