{% extends 'base.html.twig' %}

{% block body %}
  <div>
    {{ include('components/navbar.html.twig') }}
  </div>
  
  <div class="default-container">
    {{ include('post/post.html.twig') }}
    <div>
      <h2>{{ post.questions|length }} Question(s):</h2>
      <ul>
        {% for question in post.questions|reverse %}
          {{ include('question/question.html.twig') }}
        {% endfor %}
      </ul>
      <br>
      <h2>Answer</h2>
      {{ form_start(questionForm) }}
        {{ form_widget(questionForm) }}
      {{ form_end(questionForm) }}

  </div>
    </div>  
  </div>
  
{% endblock %}
