{% extends 'base.html.twig' %}

{% block body %}
  <div>
    {{ include('components/navbar.html.twig') }}
  </div>
  
  <div class="default-container">
    {{ include('post/post.html.twig') }}
    <div>
      <h2>{{ post.questions|length }} Question(s):</h2>
      <ul>
        {% for question in post.questions|reverse %}
          {{ include('question/question.html.twig') }}
        {% endfor %}
      </ul>
      <a href="{{ path('app_question_new', { id: post.id }) }}">
        <button type="button" class="btn btn-light">Answer</button>
      </a>
    </div>  
  </div>
  
{% endblock %}
